body {
    background-color: #444B6E;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    background-color: #DAE3E5;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.navbar a {
    color: #444B6E;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: white;
    background-color: #444B6E;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.instruction {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1200px;
}

.card {
    width: 90px;
    height: 600px;
    border-radius: 2rem;
    background-color: #DAE3E5;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    transition: all 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.icon {
    background-color: #444B6E;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    color: #444B6E;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.description h4 {
    margin-bottom: 5px;
    font-size: 1.2em; /* Taille du titre */
    font-weight: bold; /* Titre en gras */
}

.description .subtitle {
    font-size: 0.9em; /* Taille du sous-titre (plus petit) */
    color: #777; /* Couleur plus discrète */
    margin-bottom: 0.8em;
}

.contenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px 0;
}

input[type="radio"]:checked + label .contenu {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.contenu p {
    margin-bottom: 5px;
}

.presentation {
    margin: 5px 0;
}

.presentation a {
    color: #444B6E;
    text-decoration: underline;
}

footer {
    background-color: #DAE3E5;
    padding: 20px 0;
    margin-top: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    margin: 0 10px;
}

footer img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 20px;
    }

    input[type="radio"]:checked + label {
        width: 90%;
    }
}

.description p {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-bottom: 5px;
}

input[type="radio"]:checked + label .description p {
    opacity: 1;
}

.conclusion {
    font-style: italic; /* Conclusion en italique pour la différencier */
    font-weight: bold; /* Conclusion en gras pour la mettre en valeur */
    margin-top: 1em;
}

