*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
}
a li{
    color: white;
}
ol{
    list-style: none;
    width: 800px;
}
ol li{
    font-size: 1.2rem;
    height: 100px;
    background-color: rgb(23, 23, 23);
    margin: 10px 0;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
    transition: all .4s;
    z-index: 5;
}
p{
    font-weight: bold;
    font-size: 30px;
}

ol li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: orange;
    transition: all .4s;
    z-index: -1;
}
ol li:hover::before{
    width: 100%;
    background-color: orange; /* Ajoutez ceci */
}



ol li {
    display: flex; /* Utiliser Flexbox pour aligner le contenu verticalement */
    align-items: center; /* Centrer verticalement */
}



#un:nth-child(1)::before{
    background: #4285f4;
}

#deux::before{
    background: #ABC4A1;
}



#trois::before{
    background: #BE3E82;
}

#quatre::before{
    background: #634B66;
}

ol li:hover{
    transform: translateX(60px);
}